interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.atlassian.com/ex/jira/cid/rest/api/3/project/APP/statuses
  response:
    body:
      string: '[{"id":"10006","name":"Task","subtask":false,"statuses":[{"name":"Input
        Received","id":"10168","statusCategory":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/statuscategory/4","id":4,"key":"indeterminate","colorName":"yellow","name":"In
        Progress"}},{"name":"Backlog","id":"10082","statusCategory":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}},{"name":"Spec In Progress","id":"10086","statusCategory":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/statuscategory/4","id":4,"key":"indeterminate","colorName":"yellow","name":"In
        Progress"}},{"name":"QA Paused","id":"10204","statusCategory":{"se[...]
