interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.atlassian.com/ex/jira/cid/rest/api/3/search/jql?jql=project+%3D+%22APP%22+AND+text+~+%22triage%22&fields=summary%2Cstatus&maxResults=50
  response:
    body:
      string: '{"issues":[{"id":"12018","key":"APP-410","fields":{"summary":"Example
        ticket 1","status":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/status/10125","description":"","iconUrl":"https://api.atlassian.com/ex/jira/cid/","name":"Dev
        Team Review","id":"10125","statusCategory":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}}}},{"id":"11998","key":"APP-390","fields":{"summary":"Example ticket
        2","status":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/status/10132","description":"","iconUrl":"https://api.atlassian.com/ex/jira/cid/","name":"Won''t
        Do","id":"10132","statusCategory":{"self":"https://api.atlassian.com/ex/jira/cid/rest/api/3/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"}}}},{"id":"11963","key":"APP-386","fields":{"sum[...]
